Source: ros-noetic-schunk-svh
Section: misc
Priority: optional
Maintainer: Stefan Scherzinger <scherzin@fzi.de>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-schunk-svh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-schunk-svh-description, ros-noetic-schunk-svh-driver, ros-noetic-schunk-svh-msgs
Description: ROS1 specific packages for the Schunk SVH five finger hand
